{{#if this.category.for_elections}}
<div class="navigation-controls" id="election-controls">
  {{#if this.isElectionsAdmin}}
  <DButton @icon="plus" @class="btn btn-icon-text btn-default" @label={{"election.create.label"}}
    @action={{this.createElection}} @actionParam={{this.category.id}} />
  {{/if}}
  {{#if this.siteSettings.elections_nav_category_list}}
  <ElectionList @category={{this.category}} />
  {{/if}}
</div>
{{/if}}