{{#if this.showStatus}}
  <div class="election-status-label">
    <span>{{i18n (concat 'election.status.' this.model.electionStatusName)}}</span>
  </div>
  <ElectionTimeStatus @topic={{this.model}} />
{{/if}}

{{!-- {{#if showStatus}}
  <div class="election-status-label">
    <span>{{i18n (concat 'election.status.' model.electionStatusName)}}</span>
  </div>
  {{election-time-status topic=model}}
{{/if}} --}}
