<div class="election-list-controls">
  {{#if this.isAdmin}}
    <button type="button" class="btn" {{on "click" this.createElection}}>
      <i class="fa fa-plus"></i>
      {{!-- {{i18n "election.create.label"}} --}}
      새 선거
    </button>
  {{/if}}
</div>